GLOBAL_SETTINGS
     LAB_MASTER_SEED steg-video-bpcs_student_master_seed
     REGISTRY ledinhbao1002
     BASE_REGISTRY labtainers

NETWORK labnet
     MASK 172.21.0.0/24
     GATEWAY 172.21.0.100
     TAP YES

CONTAINER server
     USER ubuntu
     X11 NO
     ADD-HOST labnet

CONTAINER client
     USER ubuntu
     X11 NO
     ADD-HOST labnet
